In [2]:
import pandas as pd

In [15]:
df = pd.read_csv("imdb_clean.csv")

In [3]:
df.dtypes

Unnamed: 0         int64
Series_Title      object
Released_Year     object
Certificate       object
Runtime           object
Genre             object
IMDB_Rating      float64
Overview          object
Meta_score       float64
Director          object
Star1             object
Star2             object
Star3             object
Star4             object
No_of_Votes        int64
Gross             object
dtype: object

In [4]:
df["Gross_num"] = df["Gross"].str.replace(",", "", regex=False).astype("Int64")

df["Gross_num"].head()

AttributeError: Can only use .str accessor with string values!

In [4]:
# valores mínimo e máximo
print("Mínimo:", df["Meta_score"].min())
print("Máximo:", df["Meta_score"].max())

# resumo estatístico
print(df["Meta_score"].describe())

Mínimo: 28.0
Máximo: 100.0
count    842.000000
mean      77.969121
std       12.383257
min       28.000000
25%       70.000000
50%       79.000000
75%       87.000000
max      100.000000
Name: Meta_score, dtype: float64

In [24]:
for col in [ "Star3", "Star4"]:
    print(f"\n{col}:")
    print("Nulos:", df[col].isnull().sum())
    print("Valores únicos:", df[col].nunique())
    print("Mais comuns:")
    print(df[col].value_counts().head(5))

Star3:
Nulos: 0
Valores únicos: 625
Mais comuns:
Star3
Rupert Grint          5
Joe Pesci             4
John Goodman          4
Scarlett Johansson    4
Samuel L. Jackson     4
Name: count, dtype: int64

Star4:
Nulos: 0
Valores únicos: 670
Mais comuns:
Star4
Michael Caine       4
Catherine Keener    3
Mark Ruffalo        3
Diane Keaton        2
Bruno Kirby         2
Name: count, dtype: int64

In [25]:
df['Meta_score'].isnull().sum()

0

In [27]:
# Quantos nulos existem
print("Nulos em Overview:", df["Overview"].isnull().sum())

# Comprimento dos textos
df["overview_len"] = df["Overview"].astype(str).str.len()

print(df["overview_len"].describe())
print("\nTop 3 resumos mais curtos:")
print(df.loc[df["overview_len"].nsmallest(3).index, ["Series_Title", "Overview"]])

print("\nTop 3 resumos mais longos:")
print(df.loc[df["overview_len"].nlargest(3).index, ["Series_Title", "Overview"]])

Nulos em Overview: 0
count    713.000000
mean     148.757363
std       43.725347
min       40.000000
25%      117.000000
50%      143.000000
75%      175.000000
max      313.000000
Name: overview_len, dtype: float64

Top 3 resumos mais curtos:
         Series_Title                                           Overview
580  The Last Emperor           The story of the final Emperor of China.
321       Un prophète       A young Arab man is sent to a French prison.
89          The Sting  Two grifters team up to pull off the ultimate ...

Top 3 resumos mais longos:
       Series_Title                                           Overview
656  Jeux d'enfants  As adults, best friends Julien and Sophie cont...
330        The Fall  In a hospital on the outskirts of 1920s Los An...
153   Into the Wild  After graduating from Emory University, top st...

In [10]:
df['Certificate'].dtypes

dtype('O')

In [9]:
# valores mínimo e máximo
print("Mínimo:", df["IMDB_Rating"].min())
print("Máximo:", df["IMDB_Rating"].max())

# resumo estatístico
print(df["IMDB_Rating"].describe())

Mínimo: 7.6
Máximo: 9.2
count    999.000000
mean       7.947948
std        0.272290
min        7.600000
25%        7.700000
50%        7.900000
75%        8.100000
max        9.200000
Name: IMDB_Rating, dtype: float64

In [8]:
short_movies = df[df["Runtime"] < 50][["Series_Title", "Runtime"]]
print(short_movies)

     Series_Title  Runtime
193  Sherlock Jr.       45

In [5]:
import pandas as pd

df = pd.read_csv("tmdb_clean.csv")
df.head()

,budget,keywords,original_title,popularity,production_companies,production_countries,release_date,revenue,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"culture clash, future, space war, space colony...",Avatar,150.437577,"Ingenious Film Partners, Twentieth Century Fox...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"ocean, drug abuse, exotic island, east india t...",Pirates of the Caribbean: At World's End,139.082615,"Walt Disney Pictures, Jerry Bruckheimer Films,...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"spy, based on novel, secret agent, sequel, mi6...",Spectre,107.376788,"Columbia Pictures, Danjaq, B24","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"dc comics, crime fighter, terrorist, secret id...",The Dark Knight Rises,112.312950,"Legendary Pictures, Warner Bros., DC Entertain...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"based on novel, mars, medallion, space travel,...",John Carter,43.926995,Walt Disney Pictures,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [6]:
df.dtypes

budget                    int64
keywords                 object
original_title           object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
dtype: object